body {

    padding: 0px;
   
    margin: 0px;
   
    background-color: #2D2D30;
   
    border: 1px solid #68217A;
   
   
    position: absolute;
   
    top: 0px;
   
    left: 0px;
   
    right: 0px;
   
    bottom: 0px;
   
   }

   #title-bar {
   
    -webkit-app-region: drag;
   
    height: 25px; 
   
    padding: 0px;
   
    margin: 0px; 
   
    color: #ADADAD;
   
    font-family: sans-serif;
   
   }

   #title {
   
    position: absolute;
   text-align: center;
   align-content: center;
    width: 100%;
    margin-top: 3px;
   
    font-size: 14px;
   
   }
   input#etTitle {
    background: transparent;
    margin-top: 10px;
    border: 0px;
    border-bottom: 1px solid #007300;
    font-size: 14px;
    display: block;
    color: #b3b3b3;
    float: right;
    margin-left: 10px;
    margin-right: 15px;
    width: 60%;
}

img {
    width: 120px;
    height: 120px;
    margin-left: 15px;
    display: block;
    float: left;
    background: #353535;
    padding: 5px;
    border-radius: 15px;
    margin-right: 5px;
    margin-top: 10px;
}
   